$def with (contacto, id, name, f_lastname, s_lastname,email,tel)
<form action="post">
    <label>ID</label> <input type="text" name="id" id="" value=$id> <br>
    <label>Nombre</label> <input type="text" name="name" id="" value=$name> <br>
    <label>Primer apellido</label> <input type="text" name="f_lastname" id="" value=$f_lastname> <br>
    <label>Segundo apellido</label> <input type="text" name="s_lastname" value=$s_lastname> <br>
    <label>Email</label> <input type="text" name="email" value=$email> <br>
    <label>Telefono</label> <input type="text" name="tel" value=$tel> <br>
    <a href="/"><button>regresar</button></a> <a href="/"><button>regresar</button></a>
</form>