$def with(contacto)
<title>Editar contacto</title>
<form method="POST">
<h1>Editar contacto</h1>
    <label>ID</label>
    <input type="text"  name="id_contacto"
        value="$contacto['id_contacto']"  readonly><br>

    <label>Nombre</label>
    <input type="text" name="nombre"
        value="$contacto['nombre']"  ><br>

    <label>Primer Apellido</label>
    <input type="text" name="primer_apellido"
        value="$contacto['primer_apellido']" ><br>

    <label>Segundo Apellido</label>
    <input type="text" name="segundo_apellido"
        value="$contacto['segundo_apellido']"  ><br>

    <label>Email</label>
    <input type="text" name="email"
        value="$contacto['email']"  ><br>

    <label>Teléfono</label>
    <input type="text" name="telefono"
        value="$contacto['telefono']"  ><br>


    <br><button name="editar">Editar</button>

</form><br><br>

<a href="/lista_contactos"><button>Regresar Lista Contactos</button></a><br><br>
<a href="/"><button>Regresar inicio</button></a><br>